#main {
  display: flex;
  flex-wrap: nowrap;
}

nav {
  flex-basis: 250px;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  #main {
    flex-direction: column-reverse;
  }

  nav {
    margin: 0 auto;
  }

  #main.inpage_nav {
    /* Put nav at the top */
    flex-direction: column;
  }
}

nav li {
  list-style-type: none;
}

nav ul {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  padding-inline-start: 10px;

  white-space: nowrap;
}

nav ul>li {
  padding-left: 10px;
}

.to-top-button {
  text-align: right;
  display: block;
}

/* Highlight the current puzzle in the nav menu. */
.current-puzzle {
  background-color: #454545;
  border-radius: 10px;
}


/* Center images. */
img {
  background: white;
  display: block;
  margin: auto;
}

ul,
ol {
  padding-inline-start: 20px;
}

/* Insert text manually since kramdown doesn't handle <summary> text */
details>summary::before {
  content: "Solution";
  padding-left: 0.5em;
}

details>summary {
  padding: .5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: slategray;
}

details[open]>summary {
  margin-bottom: 1em;
}

details>* {
  padding-left: 1em;
  padding-right: 1em;
}

details>ul,
details>ol {
  padding-left: 3em;
}

details {
  border: 1px solid slategray;
  border-radius: 2px;
  margin-bottom: 1em;
}