<nav>
  <li><a href="{{ '/all' | relative_url }}">All puzzles</a></li>
  <ul>
    {% for puzzle in site.puzzles %}
    {% assign path_parts = puzzle.path | split: "/" %}
    {% assign category = path_parts[1] %}
    {% assign puzzle_id = path_parts[2] | gsub: '.md', '' %}
    {% assign url = puzzle.url %}
    {% if category != current_category %}
    {% if current_category != '' %}
  </ul>
  {% endif %}
  <li>{{ category | capitalize }}</li>
  {% assign current_category = category %}
  <ul>
    {% endif %}
    {% if page.inpage_nav %}
    {% assign href = puzzle_id | prepend: '#' %}
    {% else %}
    {% assign href = puzzle.url %}
    {% endif %}
    {% if page.url == puzzle.url %}
    {% assign cls = "current-puzzle" %}
    {% else %}
    {% assign cls = "" %}
    {% endif %}
    <li class="{{ cls }}">
      <a href="{{ href }}">{{ puzzle.title }}</a>
    </li>
    {% endfor %}
  </ul>

  <hr>
  <footer>
    {% if site.github.is_project_page %}
    <a href="{{ site.github.repository_url }}"><span>View on GitHub</span></a>
    {% else %}
    <a href="{{ site.github.owner_url }}"><span>View on GitHub</span></a>
    {% endif %}
  </footer>
</nav>