<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <title>{{ page.title | default: site.title | default: site.github.repository_name }}</title>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/puzzle.css?v=' | append: site.github.build_revision | relative_url }}">

  {% include mathjax.html %}

</head>

<body>
  <div id="title">
    <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <p>{{ page.description }}</p>
    <hr>
  </div>
  <div id="main" {% if page.inpage_nav %} class="inpage_nav" {% endif %}">
    {% include nav.html %}
    <div class="wrapper">
      <section>
        <div>
          {{ content }}
        </div>
      </section>
      <hr>
    </div>
  </div>

  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
</body>

</html>